#registration_form{
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  border-radius: 16px;
  padding: 4vh;
}

#registration_form label{
  margin-bottom: 1vh;
}

#registration_form input{
  margin-bottom: 1vh;
  width: 30vw;
  padding: 1vh 1vw;
}

#submit_button{
  justify-self: center;
  padding: 1vh 2vh;
  border-radius: 4px;
  background-color: #0c0c97;
  color: aliceblue;
  margin-top: 2vh;
}

#submit_button:hover {
  font-weight: bold;
  background-color: #1a1ab7;
}
